.container {
    /* width: 100%; */
    background:linear-gradient( to right,grey,black);
    height : 100vh;
    /* min-height: max-content */
  }
  h1,h2{
    text-align: center;
    color: #ffffff;
}

  .Login_Background {
   margin:10% 30%;
   padding:2%;
    height: 50%;
    border-radius: 5.5px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px rgba(182, 88, 88, 0.15);
  }

  .flex-item{
    width: 139px;
    height: 42px;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #4a4a4a;
    background-color: #00bcd4;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
