.container1 ,.wrapper{
    /* width: 100%; */
    background-image:url("../../bgimage.png");
    height : 100vh;
    /* min-height: max-content */
  }
  h1,h2{
    text-align: center;
    color: #ffffff;
}

  .Login_Background {
    margin: 5% 15% 10% 60%;
   padding:3%;
    height: 50%;
    border-radius: 5.5px;
    background-color: #ffffff;
  }
  .Page_Background {
    margin: 5% 35%;
   padding:2%;
    height: 50%;
    border-radius: 5.5px;
    color:white
  }
.login-button{
  display: flex;
  justify-content: center
}
  .heading{
    padding-top: 2%
  }
h3{
  margin-bottom: 20px
}